/* Contenedor */
.navbarcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

/* Mostras/Esconder ARROW */
.navbarshowimg {
    cursor: pointer;
    z-index: 10;
    padding: .3rem;
    border-radius: 999px;
    position: fixed;
    top: .5rem;
    height: 2rem;
    width: 2rem;
    border: 1px solid #c3c3c3;
    background-color: #0d0d0d;
    transition: all .3s;
}

.navbarshowimg:hover {
    background-color: #272727;
}

/* Mostras/Esconder NAVBAR */
.invisiblenav {
    transform: translateY(-10rem);
}

/* Lista */
.navbarcontainerlist {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60rem;
    background-color: #0d0d0d;
    border: 1px solid #c3c3c3;
    border-radius: 40px;
    transition: all .3s;
    padding: 1rem 3rem;
    position: fixed;
    z-index: 9;
    top: 1.5rem;
}

/* Items */
.navbarcontaineritem {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

.navbarcontaineritem>a {
    color: #fff;
    transition: all .2s;
    text-decoration: none;
}

.navbarcontaineritem>a:hover {
    color: #adadad;
}

/* --------------------------------------------- */

/* Mediasquerys */
@media (min-width: 350px) and (max-width: 499px) {

    /* Mostras/Esconder ARROW */
    .navbarshowimg {
        top: .6rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    /* Lista */
    .navbarcontainerlist {
        height: 3rem;
        width: 21rem;
        padding: .5rem 1.5rem;
        top: 1.5rem;
    }

    /* Items */
    .navbarcontaineritem {
        font-size: 12px;
    }

}

/* --------------------------------------------- */

@media (min-width: 500px) and (max-width: 799px) {
    /* Mostras/Esconder ARROW */
    .navbarshowimg {
        top: .6rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    /* Lista */
    .navbarcontainerlist {
        height: 3rem;
        width: 33rem;
        padding: .5rem 1.5rem;
        top: 1.5rem;
    }

    /* Items */
    .navbarcontaineritem {
        font-size: 16px;
    }
}

/* --------------------------------------------- */

@media (min-width: 800px) and (max-width: 1199px) {
    /* Mostras/Esconder ARROW */
    .navbarshowimg {
        top: .6rem;
        height: 1.5rem;
        width: 1.5rem;
    }

    /* Lista */
    .navbarcontainerlist {
        height: 3rem;
        width: 40rem;
        padding: .5rem 1.5rem;
        top: 1.5rem;
    }

    /* Items */
    .navbarcontaineritem {
        font-size: 16px;
    }
}