.misestudiostarjetacontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 13rem;
    color: #fff;
    background-color: #000;
    padding: 1rem;
    gap: 2rem;
    transition: all .3s;
    text-align: center;
    border: 2px solid #000;
}

.misestudiostarjetacontainer:hover {
    border: 2px solid #fff;
}

.misestudiostarjetacontainer>h3 {
    font-size: 25px;
}

.misestudiostarjetacontainer>h4 {
    font-size: 16px;
}

.misestudiostarjetacontainer>span {
    font-size: 14px;
}

/* --------------------------------------------- */

/* Mediaquerys */
@media (min-width: 350px) and (max-width: 499px) {
    .misestudiostarjetacontainer {
        height: 12rem;
        padding: 1rem;
        gap: 1rem;
    }

    .misestudiostarjetacontainer>h3 {
        font-size: 18px;
    }

    .misestudiostarjetacontainer>h4 {
        font-size: 12px;
    }

    .misestudiostarjetacontainer>span {
        font-size: 12px;
    }
}