/* Tecnologías */
.sobremitecnologiascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    gap: 2rem;
    width: 100%;
}

.sobremitecnologiassubcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 4rem;
}

.sobremitecnologiacontainercard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #8aa3ff0c;
    box-shadow: 15px 20px 15px #001048;
    width: 32rem;
    height: 22rem;
    transition: all .3s;
    transform: skew(-5deg, -5deg);
}

.sobremitecnologiacontainercard:hover {
    box-shadow: 5px 5px 20px #001048;
    transform: skew(0deg, 0deg);
}

.sobremitecnologiacontainercard>h3 {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    font-size: 30px;
}

.sobremitecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    transition: all .3s;
}

.sobremitecnologia>img {
    height: 3.5rem;
}

.sobremitecnologia:hover {
    scale: 105%;
}


/* --------------------------------------------- */

/* Mediaquerys */
@media (min-width: 350px) and (max-width: 499px) {


    /* Tecnologías */
    .sobremitecnologiascontainer {
        padding: 2rem 0;
        gap: 1rem;
    }

    .sobremitecnologiassubcontainer {
        gap: 1rem;
    }

    .sobremitecnologiacontainercard {
        width: 10rem;
        height: 12rem;
    }

    .sobremitecnologiacontainercard>h3 {
        font-size: 20px;
    }

    .sobremitecnologia {
        gap: .5rem;
    }

    .sobremitecnologia>img {
        height: 1.5rem;
    }

}

/* --------------------------------------------- */

@media (min-width: 500px) and (max-width: 799px) {
    .sobremitecnologiassubcontainer {
        gap: 2rem;
    }

    .sobremitecnologiacontainercard {
        width: 18rem;
        height: 18rem;
    }

    .sobremitecnologiacontainercard>h3 {
        font-size: 20px;
    }

    .sobremitecnologia {
        gap: .5rem;
    }

    .sobremitecnologia>img {
        height: 2.5rem;
    }
}

/* --------------------------------------------- */

@media (min-width: 800px) and (max-width: 1199px) {
    .sobremitecnologiassubcontainer {
        gap: 3rem;
    }

    .sobremitecnologiacontainercard {
        width: 21rem;
        height: 21rem;
    }

    .sobremitecnologiacontainercard>h3 {
        font-size: 20px;
    }

    .sobremitecnologia {
        gap: .5rem;
    }

    .sobremitecnologia>img {
        height: 3rem;
    }
}