/* Tecnologías */
.sobremitecnologiascontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5rem 0;
    gap: 2rem;
    width: 100%;
}

.sobremitecnologiassubcontainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-content: center;
    align-items: center;
    width: max-content;
    gap: 4rem;
}

.sobremitecnologiacontainercard {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    border: 1px solid #4169fb1d;
    box-shadow: 15px 20px 15px #001048;
    width: 32rem;
    height: 22rem;
    transition: all .3s;
    transform: skew(-5deg, -5deg);
}

.sobremitecnologiacontainercard:hover {
    box-shadow: 5px 5px 20px #001048;
    transform: skew(0deg, 0deg);
}

.sobremitecnologiacontainercard>h3 {
    grid-column: 1/4;
    grid-row: 1;
    text-align: center;
    font-size: 30px;
}

.sobremitecnologia {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: .5rem;
    transition: all .3s;
}

.sobremitecnologia>img {
    height: 3.5rem;
}

.sobremitecnologia:hover {
    scale: 105%;
}


/* --------------------------------------------- */

/* Mediaquerys 350px a 700px */
@media (min-width: 350px) and (max-width: 700px) {

    /* Tecnologías */
    .sobremitecnologiascontainer {
        padding: 2rem 1rem;
        gap: .5rem;
        width: 100%;
    }

    .sobremitecnologiassubcontainer {
        display: grid;
        grid-template-columns: 30% 30% 30%;
        gap: 2rem;
    }

}

/* --------------------------------------------- */

/* Mediaquerys 701px a 1300px */
@media (min-width: 701px) and (max-width: 1300px) {

    /* Tecnologías */
    .sobremitecnologiascontainer {
        padding: 2rem .5rem;
        gap: .5rem;
        width: 100%;
    }

    .sobremitecnologiassubcontainer {
        display: grid;
        grid-template-columns: 20% 20% 20% 20%;
    }
}