.sobremicontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 7rem;
    text-align: center;
    height: 40dvh;
    margin-top: 10rem;
    margin-bottom: 1rem;
}

/* Img */
.sobremifotocontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
    background-color: #fff;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 10px #fff;
}

.sobremifotocontainer>img {
    width: 25rem;
    height: 25rem;
}

/* Info Personal */
.sobremitextocontainer {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: .8rem;
    padding: 0 1rem;
}

/* Título */
.sobremitextocontainer>h1 {
    font-size: 3rem;
    color: #fff;
}

/* Disponible */
.disponibledesc {
    background-color: #001048;
    padding: .3rem;
    font-size: 16px;
    border-radius: 10px;
    color: #8aa3ff;
    border: 1px solid #8aa3ff;
}

/* Datos */
.sobremitextocontainer>p {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .3rem;
    color: #fff;
    font-size: 20px;
}

.sobremitextocontainer>p>img {
    height: 1.5rem;
}

.sobremitextocontainer>p>img:hover {
    animation: rotar 2s infinite ease-in-out;
}

/* Redes */
.redes {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1rem;
    margin: 1rem 0;
}

.redes>a>img {
    height: 3rem;
    cursor: pointer;
    transition: all .3s;
    background-color: #c3c3c3;
    padding: .4rem;
    border: 1px solid #2f3f5c;
    border-radius: 6px;
}

.redes>a>img:hover {
    scale: 110%;
}

/* Animaciones */
@keyframes rotar {
    0% {
        transform: rotateY(0deg);
    }

    50% {
        transform: rotateY(180deg);
    }

    100% {
        transform: rotateY(0deg);
    }
}

/* --------------------------------------------- */

/* Mediaquerys */
@media (min-width: 350px) and (max-width: 499px) {
    .sobremicontainer {
        flex-direction: column;
        gap: 3rem;
        height: max-content;
        margin-top: 5rem;
    }

    /* Img */
    .sobremifotocontainer {
        width: 20rem;
        height: 20rem;
    }

    .sobremifotocontainer>img {
        width: 20rem;
        height: 20rem;
    }

    /* Info Personal */
    .sobremitextocontainer {
        align-items: center;
    }

    /* Título */
    .sobremitextocontainer>h1 {
        font-size: 40px;
    }

    /* Disponible */
    .disponibledesc {
        font-size: 14px;
    }

    /* Datos */
    .sobremitextocontainer>p {
        font-size: 12px;
    }

}
