.proyectocardcontainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    gap: 5rem;
    padding: 10rem 0;
}

/* Cards */
.proyectocardsubcontainer {
    display: grid;
    grid-template-columns: 65% 35%;
    position: relative;
    justify-content: start;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
    width: 75rem;
    height: max-content;
    gap: 2rem;
    padding: 1rem;
}

/* Img / Video */
.imagenvideocontainer {
    width: 100%;
    height: 26rem;
    flex-wrap: wrap;
}

.imagenvideocontainer>img {
    width: 100%;
    height: 100%;
}

.imagenvideocontainer>video {
    width: 100%;
    height: 100%;
}

/* Texto */
.proyectocardcontainertexto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: start;
    gap: 1rem;
    color: #fff;
}

.proyectocardcontainertexto>h3 {
    font-size: 35px;
    color: #8aa3ff;
}

.proyectocardcontainertexto>a {
    padding: 1rem 2rem;
    background-color: #8aa3ff;
    border-radius: 10px;
    text-decoration: none;
    transition: all .3s;
    text-align: center;
    color: #09092b;
}

.proyectocardcontainertexto>a:hover {
    background-color: #8aa3ff;
    scale: 105%;
}

.proyectocardcontainertexto>p {
    font-size: 10px;
    color: #e0e0e0;
}

/* Tecnologias */
.proyectocardcontainertecnologias {}

.proyectocardcontainertecnologias>img {
    height: 1.8rem;
}

/* Responsive */
.proyectocardcontainerresponsivo {}

.proyectocardcontainerresponsivo>img {
    height: 1.8rem;
}


/* --------------------------------------------- */

/* Mediaquerys */
@media (min-width: 350px) and (max-width: 499px) {

    .proyectocardcontainer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 2rem;
        padding: 7rem 0rem 2rem 0rem;
    }

    /* Cards */
    .proyectocardsubcontainer {
        width: 21rem;
        height: max-content;
        display: flex;
        flex-direction: column;
    }

    /* Img / Video */
    .imagenvideocontainer {
        width: 100%;
        height: 15rem;
        flex-wrap: wrap;
    }

    /* Texto */
    .proyectocardcontainertexto {
        align-items: center;
        gap: .5rem;
        text-align: center;
    }

    .proyectocardcontainertexto>h3 {
        font-size: 20px;
    }

    .proyectocardcontainertexto>a {
        padding: 1rem;
    }


    /* Tecnologias */
    .proyectocardcontainertecnologias>img {
        height: 1rem;
    }

    /* Responsive */
    .proyectocardcontainerresponsivocontainer>img {
        height: 1rem;
    }

}

/* --------------------------------------------- */

/* Mediaquerys 701px a 1300px */
@media (min-width: 701px) and (max-width: 1300px) {
    .proyectocardcontainer {
        display: flex;
        flex-direction: column;
        margin: 0 auto;
        gap: 2rem;
        padding: 7rem 0rem 2rem 0rem;
    }

    /* Cards */
    .proyectocardsubcontainer {
        width: 90%;
        display: flex;
        flex-direction: column;
    }

    /* Texto */
    .proyectocardcontainertexto {
        gap: .5rem;
        align-items: center;
        text-align: center;
    }

    .proyectocardcontainertexto>h3 {
        font-size: 30px;
    }

    .proyectocardcontainertexto>span {
        font-size: 25px;
        width: 80%;
    }

    .proyectocardcontainertexto>a {
        font-size: 20px;
        padding: 1.5rem 2rem;
    }


    /* Tecnologias */
    .proyectocardcontainertecnologias>img {
        height: 2rem;
    }

    /* Responsive */
    .proyectocardcontainerresponsivocontainer>img {
        height: 2rem;
    }

}

/* --------------------------------------------- */